<h1>Sales</h1>
<table border="1">
  <tr>
    <th>Sale Amount</th>
    <th>Name</th>
    <th>Commission</th>
  </tr>
  <% @sales_list.each do |sale| %>
  <tr class="<%= sale.last_name.downcase %>">
    <td><%= "$#{sale.gross_sale_value.floor_to(2)}" %></td>
    <td><%= Employee.employee_named(sale.last_name).name %></td>
    <% %>
    <td><%= sale.net_commission %></td>
  </tr>
  <% end %>
</table>
